/*FONTS*/

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf) format(TrueType);
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf) format(TrueType);
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'Balthazar';
    src: url('../fonts/balthazar/balthazar-regular-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html{
    --background:#1B1831;
    --text: #FFFFFF;
    --Montserrat: 'Montserrat', Arial, sans-serif;
    --Balthazar: 'Balthazar', Times, serif;
    --rhythm: 5vw;

    background-color: var(--background);
    margin: .5vw 0 0 0;
    overflow: hidden;
}

body{
    background-image: url("../images/Background-Circle.svg");
    background-size: 44vw;
    background-repeat: no-repeat;
    background-position: top;
}

h1{
    font-family: var(--Balthazar);
    font-size: 5.5vw;
    margin: -0.5vw 0 1vw 0;

}

h2{
    font-family: var(--Balthazar);
    font-size: 5vw;
    color: var(--text);
    margin: 0;
}

h3{
    font-family: var(--Montserrat);
    font-weight: 500;
    font-size: 1.75vw;
    margin: 0;
}

h4{
    font-family: var(--Balthazar);
    font-size: 1.75vw;
    color: var(--text);
    margin: 1vw 0;
}

h5{
    font-family: var(--Montserrat);
    font-weight: 600;
    font-size: 2vw;
    word-spacing: .25vw;
    color: var(--text);
    text-align: center;
    margin: 1vw;
}

p{
    font-family: var(--Montserrat);
    font-weight: 500;
    font-size: 1.1vw;
    word-spacing: .25vw;
    color: var(--text);
    margin: 0;
}

.section-2{
    color: var(--text);
    text-align: center;
    z-index: 10;
    height: 21vw;
}

.main-sections{
    display: flex;
    justify-content: center;
    padding-top: 11.75vw;
    padding-bottom: 10vw;
}

.section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24vw;
    height: 35vw;
    margin: -5vw 15vw 0vw 1vw;
}

.section-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24vw;
    height: 35vw;
    margin: -5vw 1vw 0vw 15vw;
}

img{
    max-height: 30vw;
}

/*BUTTONS*/

#aries{
    position: absolute;
    width: 9.417vw;
    top: 1.75vw;
    left: 45.25vw
}

#taurus{
    position: absolute;
    width: 12.288vw;
    top: 2.5vw;
    left: 52.25vw;
}

#gemini{
    position: absolute;
    width: 12.116vw;
    top: 8.55vw;
    left: 58.7vw;
}

#cancer{
    position: absolute;
    width: 10.651vw;
    top: 18.4vw;
    left: 62.75vw;
}

#leo{
    position: absolute;
    width: 11.866vw;
    top: 25.45vw;
    left: 58.7vw;
}

#virgo{
    position: absolute;
    width: 12.288vw;
    top: 31.84vw;
    left: 52.3vw;
}

#libra{
    position: absolute;
    width: 9.417vw;
    top: 35.9vw;
    left: 45.25vw;
}

#scorpio{
    position: absolute;
    width: 12.288vw;
    top: 31.84vw;
    right: 52.3vw;
}

#sagittarius{
    position: absolute;
    width: 13.24vw;
    top: 25.45vw;
    right: 58.7vw;
}

#capricorn{
    position: absolute;
    width: 9.31vw;
    top: 18.48vw;
    right: 62.82vw;
}

#aquarius{
    position: absolute;
    width: 11.866vw;
    top: 8.65vw;
    right: 58.8vw;
}

#pisces{
    position: absolute;
    width: 12.288vw;
    top: 2.5vw;
    right: 52.35vw;
}

#aries:hover, #taurus:hover, #gemini:hover, #cancer:hover, #leo:hover, #virgo:hover, #libra:hover, #scorpio:hover, #sagittarius:hover, #capricorn:hover, #aquarius:hover, #pisces:hover{
    filter: drop-shadow(0 0 1vw #FFFFFF);
}


/*DATE ENTRY*/

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5vw;
    width: 18vw;
}

.enter-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -1vw;
}

.date-entry{
    width: 8vw;
    height: 2vw;
    margin: 1vw;
}

.control button {
    background-color: var(--text);
    color: var(--background);
    font-family: var(--Montserrat);
    font-weight: 600;
    text-align: center;
    font-size: 2.2vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50vw;
    margin-left: 1vw;
    padding-bottom: 0.8vw;
    border: 0;
}

.control button:hover{
    background-color: var(--background);
    color: var(--text);
    filter: drop-shadow(0 0 .5vw #FFFFFF);
}

label {
    font-family: var(--Montserrat);
    font-size: 1.75vw;
    color: var(--text);
    margin-top: 1vw;
}

input[type="date"]
{
    font-family: var(--Balthazar);
    font-size: 1.25vw;
    border-radius: 50vw;
    border: 0;
    padding: 0.5vw;
}

/*Help-Button*/

.help-button{
    position: absolute;
    top: 1vw;
    right: 1vw;
    width: 5vw;
    padding: 1vw;
}

.help-button:hover{
    filter: drop-shadow(0 0 .5vw #FFFFFF);
}

.help{
    position: absolute;
}

#help-1{
    visibility: hidden;
    top: 2vw;
    right: 10vw;
}

#help-2 {
    visibility: hidden;
    top: 18vw;
    right: 4vw;
}